 Partial */

/*Font Face*/
@font-face {
	font-family: "HelveticaRoman";
	src:url('../fonts/HelveticaLTStd-Roman.otf');
	src:url('../fonts/HelveticaLTStd-Roman.otf') format('opentype');
}

@font-face {
	font-family: "HelveticaBOLD";
	src:url('../fonts/HelveticaLTStd-Bold.otf');
	src:url('../fonts/HelveticaLTStd-Bold.otf') format('opentype');
}


/*
*
* B L O C K
* 
*/

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: HelveticaRoman, sans-serif;
}

.header {
	
}
	
.section {

	}
	
.footer {

}

	.container {

	}

/* ============BLOCK END============ */

/*
*
* E L E M E N T
* 
*/
.header-wrapper {
	margin: 25px 0;
}
	.header-brand {
		width: 100%;
		text-align:  center;
		margin: 10px 0;
	}
	
	.header-nav {
		width: 100%;
		text-align:  center;
		margin: 10px 0;
	}
		.nav-list {
			margin: 0 auto;
		}
			.nav-list__item {

			}

.section-intro {
		margin: 30px 15px 30px 15px;
		text-align: center;
		line-height: 2;
	}

		.intro__header {
			font-size: 14pt;
		}

		.intro__paragraph {
			font-size: 9pt;
			margin: 15px 0;
		}

		.intro__button {
		}
			.button__top {
				margin: 0 auto;
			}
	
	.section-project {
		margin: 30px 15px 30px 15px;
		text-align: center;
	}

		.project__header {
			margin: 20px 0;
		}

		.project__card {
		    width: 300px;
		    margin: 20px auto;
		}
			
			.card__image {
				width: 100%;
				height: auto;
			}

			.card__image > img {
				width: 100%;
				height: auto;
			}
			
			.card__title {
				margin: 15px 0 10px 0;
			}

			.card__info {
				margin: 10px 0 15px 0;
			}
	
	.section-header {
			
		}

		.section-about {
			padding: 40px 0;
		}


			.about__el {
				margin: 0 auto;
				text-align: center;
			}

			.about__el:nth-child(2){
				margin: 50px auto 0 auto;
			}

				.el__header {
					
				}

				.el__content {
					margin: 10px 15px;
				}

					.content__p {
						margin: 15px 0;
						line-height: 1.5;
					}
				.el__socmed {

				}

					.socmed__list {
						
					}

					.list__item {
						display: inline-block;
					}

					.el-content__row {
						margin: 10px auto 30px auto;
					}

						.content-row__image {

						}

						.content-row__detail {
							margin: 15px auto;
						}

							.row__detail {

							}

							.row__specimen {
								margin: 10px auto 30px auto;
							}

.footer-wrapper {
	margin: 25px 0;
}
	.footer__brand {
		width: 100%;
		text-align: center;
		margin: 10px 0;
	}

	.footer__nav {
	width: 100%;
	text-align: center;
	margin: 10px 0;
	}

		.footer__list {margin: 0 auto;}
			.footer-nav__item {
				display: inline;
			}

/* ============ELEMENT END============ */

/*
*
* M O D I F I E R
* 
*/

.header--underline, .section--underline, .content--underline {
    border-bottom: solid 1px #E8E8E8;
}

.row--underline {
    border-bottom: solid 1px #D2D2D2;
}

.row--underline:nth-child(2) {
	border-bottom: none 0;
}

/*Color*/
.brand--color {
	color: #CE3131;
}

/*Typhography*/

.header--resize {
	font-size: 22pt;
}

.card--resize, .row--resize, .footer--resize {
	font-size: 9pt;
}

.card--border {
	border: 1px #CCCCCC solid;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

.header--bold, .intro--bold, .button--bold, .project--bold, .card--bold, .p--bold, .row--bold, .footer--bold {
	font-family: HelveticaBOLD;
}

.button--flat {
	line-height: 45px;
}

.button--wide {
	width: 120px;
	height: 40px;
	border-radius: 5px;
}

.button--color {
	color: #FFFFFF;
	background-color: #000;
}

.card--italic {
	font-style: italic;
}

.section--color {
	background-color: #E5E5E5;
}

.p--normal {
	font-style: normal;
}

.p--gray {
	color: #565656;
}

.nav__link--active, .p--color, .card--color, .row--color {
	color: #999999;
}


.list--format {
	display: inline;
}

.list--format:hover {
	color: #999999;
}

.footer--format:hover {
	color: #099999;
}

.list--format:after, .footer--format:after {
	margin: auto 10px;
	content: '/';
	color: #999999;
}

.list--format:last-child::after,
.footer--format:last-child::after {
	content: '';
}

.link--format {
	text-decoration: none;
}

.link--format:visited {
	color: #000000;
}

.nav__link--active:visited {
	color: #999999;	
}

.footer__nav--active {
	color: #099999;
	text-decoration: none;
}

.footer__nav--active:visited {
	color: #099999;
}

/* Socmed Button */

.list--borderhover { /* global button class */
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border:3px solid #000; /* add border to the buttons */
    box-shadow: 0 3px 3px #999;
    padding: 0px;
    text-decoration: none;
    text-align: center;
    color: #000;
    font-size: 20px;
    font-weight: normal;
    line-height: 2em;
    border-radius: 27px;
    -moz-border-radius:27px;
    -webkit-border-radius:27px;
}

.facebookBtn{
    background: #E5E5E5;
}

.facebookBtn:before{ /* use :before to add the relevant icons */
    font-family: "FontAwesome";
    content: "\f09a"; /* add facebook icon */
}

.facebookBtn:hover{
    color: #4060A5;
    background: #fff;
    border-color: #4060A5; /* change the border color on mouse hover */
}

/* twitter button class*/
.twitterBtn{
    background: #E5E5E5;
}

.twitterBtn:before{
      font-family: "FontAwesome";
      content: "\f099"; /* add twitter icon */
      
}


.twitterBtn:hover{
      color: #00ABE3;
      background: #fff;
      border-color: #00ABE3;
}


/* rss button class*/
.rssBtn{
    background: #E5E5E5;
}

.rssBtn:before{
      font-family: "FontAwesome";
      content: "\f09e"; /* add rss icon */
}

.rssBtn:hover{
      color: #e88845;
      background: #fff;
      border-color: #e88845;
}

/* ============MODIFIER END============ */

/*
*
* M E D I A - Q U E R Y
* 
*/

@media (min-width:961px)  { 
/*	*/
	.container {
		width: 960px;
		margin: 0 auto;
	}

		.header-wrapper {
			display: flex;
			align-items: center;
			margin:20px auto;
		}

		#header-brand {
			display: inline-block;
			text-align: left;
		}

		#header-nav {
			display: inline-block;
			text-align: right;
		}
		
		.section-intro {
			margin: 90px 30px;
		}

		.intro__header {
			font-size: 23pt;
		}
		
		.intro__paragraph {
			font-size: 13pt;
			margin: 15px 100px;
		}

		.intro__button {
			margin: 30px auto;
		}
		
		.section-project {
			margin: 55px 15px;
			text-align: center;
		}

		.project__header {
			text-align: left;
		}

		.project__card {
		    width: 285px;
		    margin: 20px auto 50px auto;
		    display: inline-block;
		}

			.card__middle {
				margin: 20px 30px 50px 30px;
			}

		.section-about {
			display: flex;
			padding: 50px 0;
		}

		.about__el {
			width: 50%;
			text-align: left;
		}
		
		.about__el:nth-child(2) {
		    margin: 0;
		}

		.el__content {
			margin: 35px 0;
		}

		.el-content__row {
			display: flex;
			padding-bottom: 15px;
		}

		.content__p {
			font-size: 11pt;
			line-height: 1.75;
			margin: 0 50px 30px 0;
		}

		.content-row__detail {
		    margin: 5px 15px 5px 30px;
		}

		/*Typhography*/

		.header--resize {
			font-size: 22pt;
		}

		.card--resize, .row--resize, .footer--resize {
			font-size: 9pt;
		}

		.row--resizeh {
			font-size: 14pt;
    		line-height: 1.75rem;
		}

		.card--border {
			border: 1px #CCCCCC solid;
			border-bottom-right-radius: 5px;
			border-bottom-left-radius: 5px;
		}

		.header--bold, .intro--bold, .button--bold, .project--bold, .card--bold, .row--bold, .footer--bold {
			font-family: HelveticaBOLD;
		}

		.button--flat {
			line-height: 45px;
		}

		.button--wide {
			width: 120px;
			height: 40px;
			border-radius: 5px;
		}

		.button--color {
			color: #FFFFFF;
			background-color: #000;
		}

		.card--italic {
			font-style: italic;
		}

		.section--color {
			background-color: #E5E5E5;
		}

		.p--normal {
			font-style: normal;
		}

		.nav__link--active, .p--color, .card--color, .row--color {
			color: #999999;
		}

		.p--gray {
			color: #565656;
		}

		.list--format {
			display: inline;
		}

		.list--format:hover {
			color: #999999;
		}

		.footer--format:hover {
			color: #099999;
		}

		.list--format:after, .footer--format:after {
			margin: auto 10px;
			content: '/';
			color: #999999;
		}

		.list--format:last-child::after,
		.footer--format:last-child::after {
			content: '';
		}

		.link--format {
			text-decoration: none;
		}

		.link--format:visited {
			color: #000000;
		}

		.nav__link--active:visited {
			color: #999999;	
		}

		.footer__nav--active {
			color: #099999;
			text-decoration: none;
		}

		.footer__nav--active:visited {
			color: #099999;
		}

/*
nanti pindah sesuai struktur
 */
		.list--format:last-child::after {

			content: '/';
			color: #999999;
		}

		.list--format:last-child::after,
		.footer--format:last-child::after {
			content: '';
		}
}

/* ============MEDIA-QUERY END============ 